<div class="container">
    <div class="row">
        
        <div class="col-2"><h5>Id</h5></div>
        <div class="col-2"><h5>First Name</h5></div>
        <div class="col-2"><h5>Last Name</h5></div>
        <div class="col-2"><h5>Email</h5></div>
        <div class="col-2"><h5>Edit</h5></div>
        <div class="col-2"><h5>Delete</h5></div>
    </div>
    <div *ngFor="let student of students">
        <div class="row mt-3 ">
            <div class="col-2">{{student.sId}}</div>
            <div class="col-2">{{student.fName}}</div>
            <div class="col-2">{{student.lName}}</div>
            <div class="col-2">{{student.email}}</div>
            <div class="col-2">
                <button 
                    type="button" 
                    class="btn btn-success">Edit
                </button>
            </div>
            <div class="col-2">
                <button type="button" 
                    class="btn btn-danger"
                    (click)="onDelete(student)">Delete
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input class="form-control" type="text">
        </div>
    </div>
</div>

