<!-- Ctrl+K, Ctrl+U to comment, and Ctrl+K, Ctrl+C to uncomment -->
<app-project></app-project> 
<!-- <app-routing></app-routing> -->
<!-- <app-users></app-users> -->
<!-- <app-services></app-services> -->
<!-- <app-directives></app-directives> -->
<!-- <app-form-test></app-form-test> -->
<!-- <app-tdform-assignment></app-tdform-assignment> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-reactive-form-assignment></app-reactive-form-assignment> -->
<!-- <app-observables></app-observables> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-http></app-http> -->
<!-- <app-angular-phpcurd></app-angular-phpcurd> -->
<div class="container">
  <!-- <app-test1></app-test1> -->
  <!-- <app-test2></app-test2> -->
</div>
